.brown-bg {
    background-color: #AB6B51;
}

.text-custom {
    color: #2f435acc
}

.main-bg {
    background-color: rgba(81,171,154, .4);
}

.main-strong-bg{
    background-color: rgba(81,171,154, .8);
}

footer a:hover {
    font-weight: bolder;
    font-size: larger;
}

nav a:hover {
        font-weight: bolder;
}

.noHover {
    pointer-events: none;
}

.good-align {
    padding-top: 70px;
}

#placeholder-image {
    width: 300px;
    height: 300px;
}


.margin-top{
    margin-top: 100px;
}