.brown-bg {
    background-color: #AB6B51;
}

.text-custom {
    color: #2f435acc
}

.main-bg {
    background-color: rgba(81,171,154, .4);
}

footer a:hover {
    font-weight: bolder;
    font-size: larger;
}

nav a:hover {
        font-weight: bolder;
}

.noHover {
    pointer-events: none;
}